/*
 * Globals
 */

/*
 * Override Bootstrap's default container.
 */
.page-box {
  width: 1037px;
  margin: auto;
}

/*
 * Masthead for nav
 */

/* Nav links */
.blog-post-sum {
  width: 98%;
}
.blog-post-sum a{
  color: black;
}
.post-box, blog-main{
  width: 65%;
  margin-left: 10px;
}
.blog-header {
  margin-top: 10px;
  height: 48px;
  box-shadow: 0 1px 3px rgba(26,26,26,.1);
}

/*
 * Main column and sidebar layout
 */

.blog-main {
  font-size: 15px;
  line-height: 1.5;
  margin-top: 10px;

}

/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}

/*
 * Blog posts
 */

.blog-post {
  margin-top: 10px;
  background-color: white;
  padding: 20px;
  box-shadow: 0 1px 3px rgba(26,26,26,.1);
}
.blog-post-author {
  float: right;
  margin-right: 20px;
  height: 80px;
  width: 80px;
}
.blog-post-author a{
  position: inline-block;
  margin-top: 5px;
  float: right;
}
.blog-post-avatar {
  height: 50px;
  width: 50px;
  margin-top: 10px;
  float: right;
}
.blog-post-title {
  margin-bottom: 5px;
  margin-top: 1px;
  font-size: 25px;
  width: 60%;
  color: black;
}
.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
}
.blog-post-button {
  float: left;
  margin-left: 10px;
  font-size: 10;
}
.blog-post-box {
  margin-left: -10px;
  margin-bottom: 30px;
}
.right-block {
  width: 300px;
  height: 500px;
  margin-left: 700px;
  position: absolute;
  background-color: white;
  box-shadow: 0 1px 3px rgba(26,26,26,.1);
  z-index: 2;
}
.right-block div{
  width: 90px;
  height: 90px;
  float: left;
  text-align: center;
  align-items: center;
  margin: 5px;
  line-height: 80px;
  box-shadow: 0 1px 3px rgba(26,26,26,.1);
}

/*
 * Footer
 */

.blog-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}
.page-bottom {
  height: 50px;
  margin: auto;
}
.bottom-text {
  margin-left: 250px;
}
