body {
  font-family: inherit, "Times New Roman", Times, serif;
}
body a{
  text-decoration: none;
}

/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}
.page-box {
  width: 55%;
  margin: auto;
}

/*
 * Masthead for nav
 */
.blog-masthead {
  margin: auto;
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -1px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -1px 5px rgba(0,0,0,.1);
  height: 48px;
}

/* Nav links */
.blog-nav {
  width: 55%;
  margin: auto;
}
.blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  font-size: 50;
  color: #8590a6;
}
.blog-nav-title {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  font-size: 20px;
  color: #8590a6;
}
.blog-nav-user {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  font-size: 15px;
  color: #8590a6;
  float: right;
  margin-right: 40px;
}
.blog-nav-item:hover,
.blog-nav-item:focus {
  color: #3D3D3D;
  text-decoration: none;
}

/* Active state gets a caret at the bottom */
.blog-nav .active {
  color: #444;
}
.blog-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}
.blog-post-sum {
  width: 98%;
}
.post-box, blog-main{
  width: 65%;
  margin-left: 10px;
}
.user-profile {
  margin-left: 10px;
  margin-top: 10px;
  height: 250px;
  position: relative;
  -webkit-box-shadow: inset 0 -1px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -1px 5px rgba(0,0,0,.1);
  border-radius: 4px;
}
.background{
  height: 140px;
  width: 99.5%;
  margin-left: 2px;
  background-color: #999;
  position: absolute;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-box-shadow: inset 0 -1px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -1px 5px rgba(0,0,0,.1);
}
.avatar-border{
  width: 166px;
  height: 166px;
  background-color: white;
  position: relative;
  margin-left: 20px;
  margin-top: 60px;
  border-radius: 4px;
}
.user-profile img{
  margin-left: 3px;
  margin-top: 3px;
  width: 160px;
  height: 160px;
  border-radius: 4px;
  position: absolute;

}
.user-nick-name{
  margin-left: 200px;
  margin-top: -80px;
  font-size: 30px;
}
.user-profile-nav{
  width: 100%;
  height: 50px;
  background-color: white;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  z-index: 10;
  margin-bottom: -25px;
  -webkit-box-shadow: inset 0 -1px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -1px 5px rgba(0,0,0,.1);
}
.user-profile-nav div{
  float: left;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 6px;
}
.nav-button a{
  display: inline-block;
  margin-top: 4px;
}
.is-active{
  display: inline-block;
  margin-top: 4px;
  font-weight: bold;
}
.blog-header a {
    float: left;
    margin-left: 46px;
    margin-top: 10px;
    color: #337ab7;
    font-weight: 500;
    font-size: 15px;
}

.blog-header a:hover,
.blog-header a:focus {
    color: #333;
}

/*
 * Main column and sidebar layout
 */

.blog-main {
  font-size: 15px;
  line-height: 1.5;
  margin-top: 10px;

}

/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}

/*
 * Blog posts
 */

.blog-post {
  margin-top: 10px;
  background-color: white;
  padding: 20px;
  -webkit-box-shadow: inset 0 -1px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -1px 5px rgba(0,0,0,.1);
  border-radius: 4px;
}
.blog-post-author {
  float: right;
  margin-right: 20px;
  height: 80px;
  width: 80px;
}
.blog-post-author a{
  position: inline-block;
  margin-top: 5px;
  float: right;
}
.blog-post-avatar {
  height: 50px;
  width: 50px;
  margin-top: 10px;
  float: right;
}
.blog-post-title {
  margin-bottom: 5px;
  margin-top: 1px;
  font-size: 25px;
  width: 60%;
}
.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
}
.blog-post-button {
  float: left;
  margin-left: 10px;
  font-size: 10;
}
.blog-post-box {
  margin-left: -10px;
  margin-bottom: 30px;
}
.right-block {
  margin-top: 10px;
  width: 33%;
  height: 500px;
  float: right;
  background-color: white;
  -webkit-box-shadow: inset 0 -1px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -1px 5px rgba(0,0,0,.1);
  border-radius: 4px;
}
.edit-button{
    display: inline-block;
    padding: 0 16px;
    font-size: 14px;
    line-height: 32px;
    color: #8590a6;
    text-align: center;
    cursor: pointer;
    background: none;
    border: 1px solid;
    border-radius: 3px;
    margin-left: 880px;
}
.write-button{
    display: inline-block;
    padding: 0 16px;
    font-size: 14px;
    line-height: 32px;
    color: #8590a6;
    text-align: center;
    cursor: pointer;
    background: none;
    border: 1px solid;
    border-radius: 3px;
    float: right;
    margin-right: 40px;
    margin-top: 8px;
}


/*
 * Footer
 */

.blog-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}
