{% extends 'blog_base.html' %}

{% block title %} 轻博客 {% endblock %}

{% block css %}
  <link href="/static/css/blog.css" rel="stylesheet">
{% endblock %}

{% block page %}
  <div class="page-box">
    <div class="right-block">
      <div class="last-browse">
        <span>上次看到</span>
      </div>
      <div class="user-draft">
        <span>草稿</span>
      </div>
    </div>
    <div class="post-box">

      <div class="row">

        <div class="blog-main">
          {% include "blog_contain.html" %}
        </div><!-- /.blog-main -->

      </div>
    </div>
  </div>
{% endblock %}

{% block js %}
<script>
    window.onscroll = function() {
        var page = $('.blog-post').length/5
        console.log(page)
        var scroll_height = $(document).scrollTop()
        var doc_height = $(document).height()
        var screen_height = $(window).height()
        if ((doc_height-scroll_height) <= screen_height){

            $.ajaxSetup({
                data:{csrfmiddlewaretoken:'{{ csrf_token }}'},
            });

            $.ajax({
                url: '/blog',
                type: 'post',
                data: {'page': page},
                success: function(data){
                    if (data != 'max'){
                        $('.blog-main').append(data)
                    }
                    else{
                        if ($('.page-bottom').length == 0){
                            $('.blog-main').append('<div class="page-bottom">'
                                             + '<p class="bottom-text">更多精彩内容等你创造!</p>'
                                             + '<div>')
                        }
                        else{
                            return false;
                        }

                    }
                }
            })
        }
    }
</script>


{% endblock %}