{% extends 'blog_base.html' %}

{% block title %} 轻博客 {% endblock %}

{% block css %}
  <link href="/static/css/blog.css" rel="stylesheet">
{% endblock %}

{% block page %}
  <div class="page-box">
    <div class="right-block">

    </div>
    <div class="post-box">
      <div class="blog-header" style="background-color: white;">
        <a>上次看到</a>
        <a>草稿</a>
      </div>

      <div class="row">

        <div class="blog-main">
        {% for article in articles %}
          <div class="blog-post">
            <div class="blog-post-author">
                <img src="{{ article.author.avatar }}" class="blog-post-avatar">
                <a>{{ article.author.nick_name }}</a>
            </div>
            <a class="blog-post-title" href="/blog/article/{{ article.id }}/detail" target="_blank">{{ article.title }}</a>
            <p class="blog-post-meta">{{ article.create_time }}</p>
            <div class="blog-post-sum"><a href="/blog/article/{{ article.id }}/detail" target="_blank">{% autoescape off %}{{ article.content }}{% endautoescape %}...</a></div>
            <p></p>
            <hr>
            <div class="blog-post-box">
              <div class="blog-post-button"><a>点赞</a></div>
              <div class="blog-post-button"><a>反对</a></div>
              <div class="blog-post-button"><a>评论</a></div>
              <div class="blog-post-button"><a>收藏</a></div>
              <div class="blog-post-button"><a>分享</a></div>
            </div>
          </div><!-- /.blog-post -->
        {% endfor %}
        </div><!-- /.blog-main -->

      </div>
    </div>
  </div>
{% endblock %}

{% block js %}
<script>
    window.onscroll = function() {
        var page = $('.blog-post').length/5
        console.log(page)
        var scroll_height = $(document).scrollTop()
        var doc_height = $(document).height()
        var screen_height = $(window).height()
        if ((doc_height-scroll_height) <= screen_height){

            $.ajaxSetup({
                data:{csrfmiddlewaretoken:'{{ csrf_token }}'},
            });

            $.ajax({
                url: '/blog',
                type: 'post',
                data: {'page': page},
                success: function(data){
                    if (data != 'max'){
                        $('.blog-main').append(data)
                    }
                    else{
                        if ($('.page-bottom').length == 0){
                            $('.blog-main').append('<div class="page-bottom">'
                                             + '<p class="bottom-text">更多精彩内容等你创造!</p>'
                                             + '<div>')
                        }
                        else{
                            return false;
                        }

                    }
                }
            })
        }
    }
</script>


{% endblock %}