{% extends 'blog_base.html' %}

{% block title %} {{ user_info.nick_name }} {% endblock %}

{% block css %}
  <link href="/static/css/user_articles.css" rel="stylesheet">
  <link href="/static/css/base.css" rel="stylesheet">
{% endblock %}

{% block page %}
  <div class="page-box">

    <div class="user-profile" style="background-color: white;">
      <div class="background">
        <div class="avatar-border">
          <img src="{{ user_info.avatar }}">
        </div>
        <div class="user-nick-name">
          <a>{{ user_info.nick_name }}</a>
        </div>
        <button class="edit-button">
          编辑个人资料
        </button>
      </div>
    </div>

    <div class="right-block">
      <div class="time-axis">


      </div>
    </div>

    <div class="post-box">

      <div class="row">

        <div class="blog-main">
          <div class="user-profile-nav">
            <div class="nav-button is-active"><a>博客</a></div>
            <div class="nav-button"><a>评论</a></div>
            <div class="nav-button"><a>关注</a></div>
            <div class="nav-button"><a>收藏</a></div>
            <a class="write-button" href="/blog/article/edit" target="_blank">写博客</a>
          </div>
          <br>
          {% include "blog_contain.html" %}
        </div><!-- /.blog-main -->
      </div>
    </div>
  </div>
{% endblock %}
