{% extends 'blog_base.html' %}

{% block title %} {{ user_info.nick_name }} {% endblock %}

{% block css %}
  <link href="/static/css/user_articles.css" rel="stylesheet">
  <link href="/static/css/base.css" rel="stylesheet">
{% endblock %}

{% block page %}
  <div class="page-box">

    <div class="user-profile" style="background-color: white;">
      <div class="background">
        <div class="avatar-border">
          <img src="{{ user_info.avatar }}">
        </div>
        <div class="user-nick-name">
          <a>{{ user_info.nick_name }}</a>
        </div>
        <button class="edit-button">
          编辑个人资料
        </button>
      </div>
    </div>

    <div class="right-block">

    </div>

    <div class="post-box">

      <div class="row">

        <div class="blog-main">
          <div class="user-profile-nav">
            <div class="nav-button is-active"><a>博客</a></div>
            <div class="nav-button"><a>评论</a></div>
            <div class="nav-button"><a>关注</a></div>
            <div class="nav-button"><a>收藏</a></div>
            <a class="write-button" href="/blog/article/edit" target="_blank">写博客</a>
          </div>
        <br>

        {% for article in articles %}
          <div class="blog-post">
            <div class="blog-post-author">
                <img src="{{ article.author.avatar }}" class="blog-post-avatar">
                <a>{{ article.author.nick_name }}</a>
            </div>
            <a class="blog-post-title" target="_blank" href="/blog/article/{{ article.id }}/detail">{{ article.title }}</a>
            <p class="blog-post-meta">{{ article.create_time }}</p>
            <div class="blog-post-sum"><a href="/blog/article/{{ article.id }}/detail" target="_blank">{{ article.content }}...</a></div>
            <p></p>
            <hr>
            <div class="blog-post-box">
              <div class="blog-post-button"><a>点赞</a></div>
              <div class="blog-post-button"><a>反对</a></div>
              <div class="blog-post-button"><a>评论</a></div>
              <div class="blog-post-button"><a>收藏</a></div>
              <div class="blog-post-button"><a>分享</a></div>
            </div>
          </div><!-- /.blog-post -->
        {% endfor %}
        <nav>
          <ul class="pager">
            <li><a href="https://v3.bootcss.com/examples/blog/#">Previous</a></li>
            <li><a href="https://v3.bootcss.com/examples/blog/#">Next</a></li>
          </ul>
        </nav>
        </div><!-- /.blog-main -->

      </div>
    </div>
  </div>
{% endblock %}
